<a href="https://colab.research.google.com/github/KassandraFerreira/Colab_Examples/blob/main/Strings_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [1, "two", 3.0, print, [5, 7 ,9]]
L + ["three"]

[1, 'two', 3.0, <function print>, [5, 7, 9], 'three']

In [ ]:
L.append(["three", 4])
L

[1, 'two', 3.0, <function print>, [5, 7, 9], 4, ['three', 4]]

In [ ]:
L.extend(["three", 4])
L

[1, 'two', 3.0, <function print>, [5, 7, 9], 4, ['three', 4], 'three', 4]

In [ ]:
L.pop(2)
L

[1, 'two', <function print>, [5, 7, 9], 4, ['three', 4], 'three', 4]

In [2]:
grades = {
    "Alice": 91,
    "Bob": 88,
    "Tracy": 93,
    "Erik": 90
}

In [3]:
for key in grades.keys():
  print(key)

Alice
Bob
Tracy
Erik

In [4]:
for value in grades.values():
  print(value)

91
88
93
90

In [5]:
for key, value in grades.items():
  print(key, value)

Alice 91
Bob 88
Tracy 93
Erik 90

In [7]:
months = {1: "January", 2: "February", 3: "March"}
print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [15]:
months = {}

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for num in numbers:
  months[num] = names [num -1]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}